{{#each components as |comp|}}
  <div style="display: flex; flex-direction: row; width: 100%">
    <div class="example" style="flex-grow: 1; height: 50px; background-color: hsl(240, 50%, 80%); margin: 2px;"></div>
    <div class="example" style="flex-grow: 1; height: 50px; background-color: hsl(240, 50%, 80%); margin: 2px;"></div>
    <div class="example" style="flex-grow: 1; height: 50px; background-color: hsl(240, 50%, 80%); margin: 2px;"></div>
    <div class="example" style="flex-grow: 1; height: 50px; background-color: hsl(240, 50%, 80%); margin: 2px;"></div>
    <div class="example" style="flex-grow: 1; height: 50px; background-color: hsl(240, 50%, 80%); margin: 2px;"></div>
    <div class="example" style="flex-grow: 1; height: 50px; background-color: hsl(240, 50%, 80%); margin: 2px;"></div>
    <div class="example" style="flex-grow: 1; height: 50px; background-color: hsl(240, 50%, 80%); margin: 2px;"></div>
    <div class="example" style="flex-grow: 1; height: 50px; background-color: hsl(240, 50%, 80%); margin: 2px;"></div>
    <div class="example" style="flex-grow: 1; height: 50px; background-color: hsl(240, 50%, 80%); margin: 2px;"></div>
    <div class="example" style="flex-grow: 1; height: 50px; background-color: hsl(240, 50%, 80%); margin: 2px;"></div>
    <div class="example" style="flex-grow: 1; height: 50px; background-color: hsl(240, 50%, 80%); margin: 2px;"></div>
    <div class="example" style="flex-grow: 1; height: 50px; background-color: hsl(240, 50%, 80%); margin: 2px;"></div>
    <div class="example" style="flex-grow: 1; height: 50px; background-color: hsl(240, 50%, 80%); margin: 2px;"></div>
    <div class="example" style="flex-grow: 1; height: 50px; background-color: hsl(240, 50%, 80%); margin: 2px;"></div>
    <div class="example" style="flex-grow: 1; height: 50px; background-color: hsl(240, 50%, 80%); margin: 2px;"></div>
  </div>
{{/each}}
