<div style="display: flex; flex-direction: row;">
  <div style="padding: 10px; font-size: 2em;">
    {{#link-to 'example.index'}}Table{{/link-to}}
  </div>
  <div style="padding: 10px; font-size: 2em;">
    {{#link-to 'example.empty'}}Empty{{/link-to}}
  </div>
</div>
{{outlet}}
